{
  "linters": {
    "*.css": [
      "npx stylelint --fix --config .stylelintrc",
      "git add"
    ],
    "*.{js, jsx}": [
      "npx eslint -c .eslintrc.js --fix",
      "git add"
    ]
  },
  "concurrent": true,
  "subTaskConcurrency": 2
}